@page "/statesender"
@using Blazor_Wasm.Models
@inject NavigationManager navigate
@inject Blazor_Wasm.GlobalState.ApplicationStateService stateService;
<h3>Category Sender Component</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var cat in categories)
           {
               /*Method Binding to Event */ 
                <tr @onclick="()=>{OnRowClick(cat);}">
                    <td>@cat.CategoryId</td>
                    <td>@cat.CategoryName</td>
                </tr>
           }
    </tbody>
</table>

@code {
    Category category;
    Categories categories;

    protected override Task OnInitializedAsync()
    {
        category = new Category();
        categories = new Categories();
        return base.OnInitializedAsync();
    }

    void OnRowClick(Category c)
    {
        // Set the Value for the GLobal State
        stateService.SetValue(c.CategoryId);
       // navigate.NavigateTo($"/statereceiver");
    }
    // Notify the State is Updated and Change
    // Sender will say that he has updated the data 
    // and now wants to release the event
    void Dispose()
    {
        stateService.OnStateChange -= StateHasChanged;        
    }
}
