@model IEnumerable<Core_WebApp.Models.Department>

@{
    ViewData["Title"] = "ShowDeptRecords";
}

<h1>Department Records</h1>

@foreach(var dept in Model)
{
    <partial name="DeptDetail" model="dept"></partial>
}
