
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<img src="~/UploadedImages/@employee.ProfilePicture"   
                         class="rounded-circle"   
                         height="40" width="40"   
                         asp-append-version="true" /> *@ 