<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor_Wasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
         <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="fileupload">
                <span class="oi oi-list-rich" aria-hidden="true"></span> File Upload
            </NavLink>
        </div>
         <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="empcrud">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employee CRUD
            </NavLink>
        </div>
         <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="sender">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
         <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="receiver">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="statesender">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categories State
            </NavLink>
        </div>
         <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="statereceiver">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products State
            </NavLink>
        </div>
        <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="security">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Security
            </NavLink>
        </div>
         <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="calljs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call JavaSCript
            </NavLink>
        </div>
          <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="cstojs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call C# into JS
            </NavLink>
        </div>
    <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="justtest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Component With Explicit Class
            </NavLink>
        </div>
          <div class="nav-item px-3">
             <!--href will be the vaue of page-->
            <NavLink class="nav-link" href="externaldata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> External Assembly
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
