@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>List of Role</h1>
<a asp-action="Create">Create Role</a>
 <table class="table table-bordered table-striped">
     <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
         </tr>
     </thead>
     <tbody>
         @foreach (var role in Model)
         {
             <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
             </tr>
         }
     </tbody>
     <tfoot>
         <tr>
             <td>
                 <a asp-action="AssignRole">Assign Role to User</a>
             </td>
         </tr>
     </tfoot>
 </table>  